@use "@/sass/effects";
@use "@/sass/colors";
@use "@/sass/sizes";
@use "@/sass/fonts";

.section {
  @include sizes.wrapper(sizes.$mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block-start: 2rem;

  .title {
    @include fonts.title-large;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .image {
        border-radius: 1rem;
      }

      .title {
        @include fonts.caption;
      }
    }
  }

  .button {
    transition: effects.$transition;
    border-radius: 1rem;
    background: colors.$overlay-1;
    padding: 1rem 1.5rem;
    cursor: pointer;

    &:active {
      transform: effects.$active;
      background: colors.$overlay-2;
    }

    @media screen and (hover) {
      &:hover {
        transform: effects.$hover;
        background: colors.$overlay-2;
      }

      &:active {
        background: colors.$overlay-3;
      }
    }
  }
}
