@use "@/sass/colors";
@use "@/sass/themes";
@use "@/sass/sizes";
@use "@/sass/fonts";

@import "@/sass/reset";

body {
  background: colors.$background;
  color: colors.$primary;
  color-scheme: light dark;
  font-family: fonts.$text;
}

.system {
  @media screen and (prefers-color-scheme: "dark") {
    @include themes.dark-theme;
  }

  @media screen and (prefers-color-scheme: "light") {
    @include themes.light-theme;
  }
}

.light {
  @include themes.light-theme;
}

.dark {
  @include themes.dark-theme;
}
